* {
    box-sizing: border-box;
}

table, td, tr {
    border-style: solid;
    border-collapse: collapse;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#calendar {
    height: 100%;
    width: 80%;
    background-color: red;
    float: left;
}

#mainTable {
    width: 100%;
}

#sidePanel {
    background-color: blue;
    float: left;
    width: 20%;
    height: 100%;
}

#pageParent {
    width: 100%;
    height: 100%;
}