*, *:before, *:after {
    box-sizing: border-box;
}

table, td, tr, th {
    border-style: solid;
    border-collapse: collapse;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#calendar {
    height: 100%;
    width: 80%;
    float: left;
}

#mainTable {
    margin:auto;
    width: 95%;
    table-layout: fixed
}

#sidePanel {
    float: left;
    width: 20%;
    height: 100%;
}

#pageParent {
    width: 100%;
    height: 100%;
}

#calendarControl {
    overflow: auto;
}